:root:root {
    /*/ / Color Palette */
    --van-black: #000;
    --van-white: #fff;
    --van-gray-1: #f7f8fa;
    --van-gray-2: #f2f3f5;
    --van-gray-3: #ebedf0;
    --van-gray-4: #dcdee0;
    --van-gray-5: #c8c9cc;
    --van-gray-6: #969799;
    --van-gray-7: #646566;
    --van-gray-8: #323233;
    --van-red: #ee0a24;
    --van-blue: #1989fa;
    --van-orange: #ff976a;
    --van-orange-dark: #ed6a0c;
    --van-orange-light: #fffbe8;
    --van-green: #07c160;

    /*自定义*/
    --van-pink: #ec6fa4;
    --van-primary-color: var(--van-pink);

    --van-card-background: #fff;
    --van-toast-text-color: var(--van-primary-color)


}

body {
    background-color: var(--van-gray-1);
}
